.admin-scripts-table {
    padding: 160px 0;

    h1 {
        padding-bottom: 80px;
    }

    .searchBar {
        width: 50%;
        display: flex;
        
        @media(max-width: 800px) {
            width: 60%;
        }
        @media(max-width: 576px) {
            width: 90%;
        } 

        span {
            width: 80%;
            height: auto;
            margin-right: 16px;
            display: flex;
            align-items: center;
            input {
                width: 100%;
            }
        }
    }


    .table {
        position: relative;
        --bs-table-striped-bg: rgba(96, 147, 211, .1);

        /*thead {
            border-style: none !important;
            tr {
            }
        }*/
        
        td, th, thead, tr {
            border-style: none !important;
        }

        tbody {
            a {
                text-decoration: none;
                color: $text;
            }
            td:first-child { 
                border-top-left-radius: 10px; 
                border-bottom-left-radius: 10px; 
            }

            td:last-child { 
                border-top-right-radius: 10px; 
                border-bottom-right-radius: 10px; 
            }
            td.red a{
                color: #dc3545 !important; 
            }

        }
    }
}