<center class="wrapper">
        <div class="webkit">

            <!-- Main Table -->
            <table class="outer" align="center" width="100%">

                <tr width="100%">
                    <td width="100%" style="padding: 0;">
                        <table
                            width="100%"
                            style="
                                border-spacing: 0;
                            "
                        >
                            <!-- Navbar -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 32px; 
                                        text-align: center;
                                    "
                                >
                                    <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                </td>
                            </tr>

                            <!-- Heading -->
                            <tr>
                                <td
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 40px; 
                                        text-align: left;
                                    "
                                >
                                    <h1
                                        style="
                                            color: #4369BD;
                                            font-weight: 700px;
                                            font-size: 36px;
                                            line-height: 43,88px;
                                            Margin: 0;
                                            padding: 0;
                                        "
                                    >Vytvorili</h1>
                                    <p
                                        style="
                                            Margin: 0px;
                                            padding-bottom: 16px;
                                            font-size: 18px;
                                            line-height: 22px;
                                            color: #4369BD;
                                        "
                                    >sme Vám prístup do autorského profilu.</p>
                                    <div class="line"></div>
                                </td>
                            </tr>

                            <!-- Fakturačné údaje -->
                            <tr>
                                <td
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                    "
                                >

                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td class="columns">
                                                <table class="column">

                                                    <tr>
                                                        <td 
                                                            style="padding: 0 40px;"
                                                        >
                                                            <table class="content">
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Registračné údaje</h5>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Názov</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{name}}</p>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                                <table class="column">

                                                    <tr>
                                                        <td
                                                            style="padding: 0 40px;"
                                                        >
                                                            <table class="content">
                                                                <tr>
                                                                    <td style="padding-bottom: 16px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Prihlasovacie údaje</h5>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Email</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{email}}</p>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-bottom: 8px;">
                                                                        <h5
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 700;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >Heslo</h5>
                                                                        <p
                                                                            style="
                                                                                Margin: 0;
                                                                                font-weight: 400;
                                                                                color: #2D406A;
                                                                                font-size: 16px;
                                                                                line-height: 32px;
                                                                            "
                                                                        >{{password}}</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>

                            <!-- Button -->
                            <tr>
                                <td 
                                    style="
                                        background-color: rgba(96, 147, 211, 0.1);
                                        padding: 40px; 
                                        text-align: left;
                                    "
                                >
                                    <a  href="https://ivexlibrary.sk/login"
                                        style="
                                            font-size: 16px;
                                            line-height: 20px;
                                            padding: 10px 22px;
                                            background-color: #FFC50F;
                                            border-radius: 30px;
                                            color: #2D406A;
                                            font-weight: 700;
                                            text-decoration: none;
                                        "
                                    >Zobraziť profil</a>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0px;
                                        text-align: right;
                                        background-color: #FFFFFF;
                                        padding: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-down-gray.png" alt="Wave Gray">
                                </td>
                            </tr>

                            <!-- Description -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding: 17px 40px 60px 40px; 
                                        text-align: left;
                                    "
                                >  
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Dobrý deň {{name}},
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    boli ste zaregistrovaný/á do online knižnice IVEX library. Heslo, ktoré Vám bolo generované automaticky si môžete kedykoľvek zmeniť v osobnej administrácii.
                                                </p>
                                                
                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Vo svojom profile môžete sledovať výkonnosť, finančné ohodnotenie a manažovať úkony zverejnených publikácií.
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Za prejavenú dôveru Vám veľmi pekne ďakujeme a pevne veríme, že naplníme vaše očakávania.
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >   
                                                    <span style="display: block;">S pozdravom,</span>
                                                    Tím IVEX library
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 400;
                                                    "
                                                > 
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- About Us -->
                            <tr>
                                <td
                                    style="
                                        background-color: #FFFFFF;
                                        padding-left: 40px; 
                                        padding-right: 40px; 
                                        padding-bottom: 60px; 
                                        text-align: left;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td style="padding-bottom: 24px;">
                                                <h1
                                                    style="
                                                        color: #4369BD;
                                                        font-weight: 700px;
                                                        font-size: 36px;
                                                        line-height: 43,88px;
                                                        Margin: 0;
                                                        padding: 0;
                                                    "
                                                >Prečo</h1>
                                                <p
                                                    style="
                                                        Margin-bottom: 16px;
                                                        Margin-top: 0px;
                                                        padding: 0;
                                                        font-size: 18px;
                                                        line-height: 22px;
                                                        color: #4369BD;
                                                    "
                                                >spolupracovať so službami online knižnice?</p>
                                                <div class="line"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        Margin-top: 0;
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    IVEX Library poskytuje študentom zoskupenie mnohých kníh na jednom mieste, aby už nikdy nemuseli použiť výhovorku: “nedostal som sa ku publikácii.” 
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Mimo iného, online knižnica oceňuje prácu autorov, ktorí sa podieľajú na akademickej výskumnej činosti slovenských univerzít. Vášu prácu chceme patrične ohodnotiť, preto každá jedna poskytnutá kniha bude finančne ohodnotená na základe čítannosti študentami. 
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                    "
                                                >
                                                    Prostredníctvom vykonaných prieskumov, zostavených na viac ako 2 000 slovenských vysokoškolských študentoch, sme sa dopracovali ku záveru, že digitalizácia vysokoškolského systému je medzi študentami priam žiadaná. 
                                                </p>

                                                <p
                                                    style="
                                                        font-size: 16px;
                                                        line-height: 32px;
                                                        color: #2D406A;
                                                        font-weight: 500;
                                                        Margin-bottom: 0;
                                                    "
                                                >
                                                    Spoločnými silami tak môžeme zjednodušiť vzdelávací proces študentov, zlepšiť ich všeobecnú vzdelanosť, či finančne ohodnotiť Váš čas venovaný do akademického výskumu prostredníctvom publikovania kníh.
                                                </p>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <!-- Wave -->
                            <tr>
                                <td
                                    style="
                                        Margin: 0;
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        text-align: right;
                                        padding-bottom: 20px;
                                        padding-top: 0;
                                    "
                                    width="100%"
                                >
                                    <img width="100%" src="https://ivexlibrary.sk/img/wave-white.png" alt="Wave White">
                                </td>
                            </tr>

                            <!-- Footer -->
                            <!-- Footer -->
                            <tr>
                                <td
                                    style="
                                        background-image: linear-gradient(80deg, #4369BD , #6093D3);
                                        padding: 0 40px 40px 40px;
                                    "
                                >
                                    <table width="100%" style="border-spacing: 0;">
                                        <tr>
                                            <td
                                                style="padding-bottom: 40px;"
                                            >
                                                <a href="https://ivexlibrary.sk/" target="_blanck"><img width="162,76px" src="https://ivexlibrary.sk/img/logo.png" alt="Ivex Logo"></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="columns">
                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin-left: -1px;
                                                                    Margin-top: 0px;
                                                                    Margin-bottom: 0px;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">IČO:</span>&nbsp;52 526 151</p>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table class="column-footer">
                                                    <tr>
                                                        <td>
                                                            <p
                                                                style="
                                                                    color: #FFFFFF;
                                                                    font-size: 16px;
                                                                    line-height: 20px;
                                                                    font-weight: 300;
                                                                    Margin: 0;
                                                                    padding-bottom: 16px;
                                                                "
                                                            > <span style="font-weight: 700;">DIČ:</span>&nbsp;2121064099</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        padding-bottom: 16px;
                                                    "
                                                > <span style="font-weight: 700;">Číslo účtu:</span>&nbsp;SK19 0900 0000 0051 6259 2152</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a
                                                    href="mailto:predplatne@ivexlibrary.sk"
                                                    style="
                                                        color: #FFFFFF;
                                                        font-size: 16px;
                                                        line-height: 20px;
                                                        font-weight: 300;
                                                        Margin: 0;
                                                        text-decoration: none;
                                                    "
                                                > <span style="font-weight: 700;">Email:</span>&nbsp;predplatne@ivexlibrary.sk</a>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>

        </div>
    </center>