.change-password {
    background-color: rgba($color: $odkaz, $alpha: 0.1);
    padding-top: 80px;

    .change-password-main {
        height: 80vh;
        position: relative;
        z-index: 3;

        @media(max-width: 992px) {
            height: auto;
            padding: 40px 0;
        }

        @media (orientation: portrait) {
            .col-md-6 {
                 width: 100%;
            }

            .img {
                justify-content: center !important;
            }
        }

        .chp-left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .form-group {
                width: 75%;

                @media(max-width: 992px) {
                    width: 90%;
                }

                @media(max-width: 768px) {
                    width: 100%;
                }

                @media(orientation: portrait) {
                    width: 100%;
                }

                input {
                    box-shadow: 0px 0px 20px rgba(45, 64, 106, 0.21);
                    border-radius: 10px;
                    color: $odkaz;
                }
    
                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $odkaz;
                    opacity: 1; /* Firefox */
                  }
                  
                  :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $odkaz;
                  }
                  
                  ::-ms-input-placeholder { /* Microsoft Edge */
                    color: $odkaz;
                  }
            }
        }

        img {
            width: 400px;
            height: 400px;

            @media(max-width: 450px) {
                width: 100%;
                height: auto;
            }
        }

    }

    .chp-white {
        background-color: $white;
        height: 20vh;
        position: relative;

        .wave-down {
            position: absolute;
            top: 0;
            right: 0;
    
            img {
                width: 100%;
            }
        }
    }
}