<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Emails</title>
    <style>

    body {
        background-color: #F6F9FC;
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #F6F9FC;
        padding: 40px 0;
    }

    .webkit {
        max-width: 600px;
        background-color: #FFFFFF;
    }

    .outer {
        Margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        color: #2D406A;
        /*Pridať font family*/
    }

    .line {
        background-color: #FFC50F;
        height: 4px;
        width: 240px;
        margin: 0;
        padding: 0;
    }

    .columns {
        text-align: left;
    }

    .columns .column {
        width: 100%;
        max-width: 295px;
        display: inline-block;
        vertical-align: top;
    }

    .columns .column-footer {
        width: 100%;
        max-width: 130px;
        display: inline-block;
        vertical-align: top;
    }

    @media(max-width: 600px) {
        .wrapper {
            padding: 0;
        }
    }

    /*@media(max-width: 400px) {
        .wave {
            width: 100%;
        }
    }*/

</style>

</head>

<body>

    {{{body}}}

</body>
</html>